body {

    font-family: 'Iceberg', cursive;
    background-color: #041c2e !important;

}

.jumbotron {
    background-image: url("/img/dinnerburger.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-size: 460px 280px;
    margin-top: 10px;
    border-bottom: 5px outset #c44444;
    border-right: 5px outset #c44444;
    background-color: #7c8494;
}

.jumbotron > h1 {
    font-family: 'Geo', sans-serif;

}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: black;
    text-align: left;
    font-family: 'Iceberg', cursive;
}

h1#color-override {
    font-size: 50px;
}

p#color-override {
    font-size: 75px;
}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #c44444;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#stickFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 10px solid black;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(171, 185, 199);
    color: transparent;
}
